/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  opacity: 0.8;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 5%;
  padding-left: 5%;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
html,body{height:100%;}
.carousel-inner{height:100%;}

/* Carousel base class */
.carousel {
  height: 100%;
}

.carousel img {
  width: 100%;
}

.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #0085a1;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.full {
  height: 100%;
}

.blue {
  background-color: #0085a1;
  color: white;
}

.blue a {
  color: white;
}

.blue .nav>li>a:focus, .nav>li>a:hover {
  background-color: #0063a1;
}

/*  INFOS */
#infos {
  font-size: 1.8em;
  height: 40%;
}

#infos h2 {
  font-size: 2.0em;
}

/* MAPA */
#mapa {
  height: 60%;
}


.conteudo {
  padding-top: 3%;
  padding-bottom: 2%;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    vertical-align: top;
    float:none;
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.foto-palestrante {
  width: 216px;
  height: 216px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../imagens/palestrantes/unknown-person.png);
}

p.collapse, p.collapsing {
  text-align: justify;
}

#programacao td.hora {
  width: 40%;
  vertical-align: middle;
  cursor: pointer;
  border-top: none;
}

#programacao td.evento {
  vertical-align: middle;
  cursor: pointer;
  border-top: none;
}

#programacao .table tr:hover {
  background-color: #01579B;
}

#descricoes-palestras {
  width: 50%;
}

.preco {
  font-size: 1.6em;
}

div[class^="col-lg"] {
  margin-bottom: 20px;
  text-align: center;
}
div[class^="col-lg"] .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.descricao-preco {
  height: 80px;
}

#patrocinio img {
  margin-bottom: 5px;
  border-radius: 5px;
}
#patrocinio .platina img {
  width: 432px;
  height: 216px;
}

#patrocinio .ouro img {
  width: 324px;
  height: 162px;
}

#patrocinio .prata img {
   width: 288px;
   height: 144px;
}

#patrocinio .bronze img {
   width: 216px;
   height: 108px;
}

#patrocinio .table th {
  text-align: center;
}

#patrocinio .table td {
  text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Kindle Fire HDX retrato */
@media screen and (width: 1600px) and (height: 2560px) {
  #home {
    height: 30%;
  }
}

/* Kindle Fire HDX paisagem */
@media screen and (width: 2560px) and (height: 1600px) {
  #home {
    height: 80%;
  }
}

/* TODO Kindle Fire HDX: alinhar as infos verticalmente */

/* Nexus 7 */
@media screen and (width: 960px) and (height: 600px) {
  #mapa {
    visibility: hidden;
  }
}

/* Tablet paisagem */
@media screen and (min-width: 800px) and (max-width: 1050px) {
  #home {
    height: 70%;
  }
}

/* Ipad Pro */
@media screen and (width: 1024px) and (height: 1366px) {
  #home {
    height: 40%;
  }
}

/* Tablet retrato */
@media screen and (min-width: 750px) and (max-width: 800px) {
  #home {
    margin-top: 101px;
    height: 35%;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Celular paisagem */
@media screen and (max-width: 750px) {
  #home {
    margin-top: 51px;
  }
  #informacoes {
    height: auto;
  }
  #infos div[class^="col-lg"] {
    width: 100%;
  }
  #descricoes-palestras {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #mapa {
    visibility: hidden;
  }
  .col-centered {
      margin-right:0;
  }
  #patrocinio .platina img {
    width: 100%;
    height: 50%;
  }

  #patrocinio .ouro img {
    width: 75%;
    height: 37.5%;
  }

  #patrocinio .prata img {
     width: 66.66%;
     height: 33.33%;
  }

  #patrocinio .bronze img {
     width: 50%;
     height: 25%;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  #ingressos .col-lg-3 {
    width: 50%;
  }
}

/* Blackberry play retrato */

@media screen and (min-width: 500px) and (width: 600px) {
  #home {
    height: 30%;
  }
}

/* Celular retrato */
@media screen and (max-width: 500px) {
  #home {
    height: 35%;
  }
  .carousel-caption {
    right: auto;
    bottom: auto;
    left: auto;
    padding-top: initial;
    padding-bottom: initial;
  }
  .carousel-caption img {
    width: 90%;
  }
  #infos {
    height: 100%;
  }
  #infos h2 {
    font-size: 1.5em;
  }
}
