<nav id="nav-menu-container">
  <ul class="nav-menu">
    <li class="menu-active"><a href="#home">Home</a></li>
    <li><a href="#informacoes">Informações</a></li>
    {{ if .Site.Data.palestrantes }}<li><a href="#palestrantes">Palestrantes</a></li>{{ end }}
    {{ if .Site.Data.programacao }}<li><a href="#programacao">Programação</a></li>{{ end }}
    <li><a href="#conduta">Conduta</a></li>
    {{ if .Site.Data.ingressos }}<li><a href="#ingressos">Inscreva-se</a></li>{{ end }}
    <li><a href="#patrocinio">Patrocinio</a></li>
    <li><a href="#rodape">Contato</a></li>
    {{ if .Site.Params.link_c4p }}
      <li class="menu-calls4paper" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
        <a href="{{ .Site.Params.link_c4p }}" target="_BLANK" class="nav-menu-important">Call4Papers</a>
      </li>
    {{ end }}
  </ul>
</nav>